<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>testAccountId</key>
    <string>acccount_id</string>
    <key>testAPIKey</key>
    <string>api_key</string>
    <key>testVendorId</key>
    <string>vendor_id</string>
    <key>testExternalVendorId</key>
    <string>external_vendor_id</string>
</dict>
</plist>
